
/*body {*/
    /*margin: 0;*/
/*}*/
a {
    cursor: pointer;
    color: #0074D9;
    text-decoration: none;
}

img {
    max-width: 100%;
}

/* Slider */
.slick-slider {
    position: relative;
    display: block;
    box-sizing: border-box;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -ms-touch-action: pan-y;
    touch-action: pan-y;
    -webkit-tap-highlight-color: transparent;
}

.slick-list {
    position: relative;
    overflow: hidden;
    display: block;
    margin: 0;
    padding: 0;
}

.slick-list:focus {
    outline: none;
}

.slick-list.dragging {
    cursor: pointer;
    cursor: hand;
}

.slick-slider .slick-track,
.slick-slider .slick-list {
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    -o-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
}

.slick-track {
    position: relative;
    left: 0;
    top: 0;
    display: block;
}

.slick-track:before, .slick-track:after {
    content: "";
    display: table;
}

.slick-track:after {
    clear: both;
}

.slick-loading .slick-track {
    visibility: hidden;
}

.slick-slide {
    float: left;
    height: 100%;
    min-height: 1px;
    display: none;
}

[dir="rtl"] .slick-slide {
    float: right;
}

.slick-slide img {
    display: block;
}

.slick-slide.slick-loading img {
    display: none;
}

.slick-slide.dragging img {
    pointer-events: none;
}

.slick-initialized .slick-slide {
    display: block;
}

.slick-loading .slick-slide {
    visibility: hidden;
}

.slick-vertical .slick-slide {
    display: block;
    height: auto;
    border: 1px solid transparent;
}

.slick-arrow.slick-hidden {
    display: none;
}

/*** FONTS ***/
@font-face {
    font-family: "Gotham";
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: "Gotham";
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: "Gotham";
    font-weight: 400;
    font-style: normal;
}

/*** CUSTOM ***/
@keyframes pop {
    0% {
        transform: scale(0.1);
    }
    100% {
        transform: scale(1);
    }
}

@keyframes ripple {
    0% {
        transform: scale(0, 0);
        opacity: 1;
    }
    20% {
        transform: scale(25, 25);
        opacity: 1;
    }
    100% {
        opacity: 0;
        transform: scale(40, 40);
    }
}

.loading {
    animation: 1.5s cubic-bezier(0.75, 0, 0.5, 1) infinite loading;
    background: #00A862;
    border-radius: 4px;
    box-shadow: 0 1px 5px rgba(0, 168, 98, 0.5);
    content: '';
    display: block;
    height: 4px;
    opacity: 0;
    position: fixed;
    transform: translateX(-100%);
    top: 0;
    transition-duration: 0.1s;
    transition-property: opacity, transform, visibility, width;
    visibility: hidden;
    width: 50%;
    z-index: 1100;
}

.loading.active {
    opacity: 1;
    visibility: visible;
}

@-webkit-keyframes loading {
    0% {
        transform: translateX(-150%);
    }
    to {
        transform: translateX(200%);
    }
}

.waiting {
    display: inline-block;
    text-align: center;
}

.waiting:before,
.waiting span, .waiting:after {
    animation: waiting 0.3s infinite alternate;
    background: #00A862;
    border-radius: 50%;
    content: '';
    float: left;
    height: 8px;
    margin: 0 3px;
    vertical-align: middle;
    width: 8px;
}

.waiting span {
    animation-delay: 0.1s;
}

.waiting:after {
    animation-delay: 0.2s;
}

@keyframes waiting {
    0% {
        opacity: 1;
        transform: scale(1.5);
    }
    100% {
        opacity: 0.4;
        transform: scale(1);
    }
}

body {
    color: rgba(0, 0, 0, 0.87);
    font-size: 16px;
    font-size: 1.6rem;
    font-weight: 400;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    letter-spacing: 0.4px;
}

body,
b,
strong,
.caption {
    line-height: 160%;
}


.color-gold {
    color: #C2A661;
}

.color-green {
    color: #00A862;
}

*:focus {
    outline: none;
}

html {
    font-size: 62.5% !important;
    -webkit-tap-highlight-color: transparent;
    height: 100%;
}


body {
    height: 100%;
    background: #f7f7f7;
}

body.with-overlay, body.with-overlay-nav {
    overflow: hidden;
}

@media (min-width: 1025px) {
    body.with-overlay-nav {
        overflow: auto;
    }
}

body.with-loyalty-notification #content {
    padding-bottom: 96px;
}


code,
.code {
    border-radius: 0;
    border: 0;
    color: rgba(0, 0, 0, 0.87);
}

a {
    color: #00A862;
}

a:hover {
    color: #009758;
    text-decoration: none;
}

.link {
    appearance: none;
    background: transparent;
    border: 0;
    color: #00A862;
    display: inline-block;
    padding: 0;
}

.link img {
    display: block;
}

.link:hover {
    color: #009758;
}

.link[disabled=disabled], .link[disabled=true], .link[disabled], .link.disabled {
    color: rgba(0, 0, 0, 0.26);
    cursor: not-allowed;
}

p {
    word-wrap: break-word;
    word-break: normal;
}

blockquote {
    border: 0;
    color: inherit;
    font-size: 22px;
    font-size: 2.2rem;
    font-weight: 400;
    font-style: italic;
    line-height: 140%;
    padding: 0;
    margin: 0 36px 24px;
}

@media (max-width: 640px) {
    blockquote {
        font-size: 20px;
        font-size: 2rem;
    }
}

.zoom {
    background: #FFF;
    border-radius: 2px;
    box-shadow: 0 1px 1px 1px rgba(0, 0, 0, 0.12);
    display: block;
    font-size: 22px;
    font-size: 2.2rem;
    font-weight: 400;
    line-height: 140%;
    padding: 18px;
}

.zoom > *:last-child {
    margin-bottom: 0;
}

@media (max-width: 640px) {
    .zoom {
        font-size: 20px;
        font-size: 2rem;
    }
}

hr {
    background: rgba(0, 0, 0, 0.12);
    border: 0;
    height: 1px;
    margin-bottom: 0;
    margin-top: 0;
}

hr::after {
    clear: both;
    content: "";
    display: table;
}

hr.separator {
    clear: both;
    margin: 36px auto;
}

hr.separator::after {
    clear: both;
    content: "";
    display: table;
}

figure {
    margin: 0;
    margin-bottom: 24px;
    text-align: center;
}

figure img {
    width: 100%;
}

figure figcaption {
    color: rgba(0, 0, 0, 0.56);
    font-size: 12px;
    font-size: 1.2rem;
    margin-top: 6px;
}

figure.default img {
    width: auto !important;
}

figure.left {
    float: left;
    margin-right: 24px;
    width: 50%;
}

figure.right {
    float: right;
    margin-left: 24px;
    width: 50%;
}

.left-align {
    text-align: left;
}

.right-align {
    text-align: right;
}

.wrapper {
    box-sizing: border-box;
    margin-left: auto;
    margin-right: auto;
    max-width: 100%;
    width: 100%;
}

@media (min-width: 1025px) {
    .wrapper {
        padding-left: 24px;
        padding-right: 24px;
    }
}

@media (max-width: 1024px) {
    .wrapper {
        padding-left: 16px;
        padding-right: 16px;
    }
}

.wrapper.fluid {
    max-width: 100%;
}

.wrapper.small {
    max-width: 480px;
}

@media (max-width: 1024px) {
    .wrapper-mobile {
        padding-left: 24px;
        padding-right: 24px;
    }
}

.margin,
.margin-1 {
    margin-bottom: 24px !important;
}

.margin-2 {
    margin-bottom: 48px;
}

.margin2 {
    margin-bottom: 18px;
}

.margin3 {
    margin-bottom: 12px;
}

.margin4 {
    margin-bottom: 6px;
}

.margin-t {
    margin-top: 24px;
}

.margin-t-2 {
    margin-top: 18px;
}

.padded-r-3 {
    padding-right: 8px;
}

.padded-r2 {
    padding-right: 48px;
}

.padded-t-2 {
    padding-top: 12px;
}

.padded-t1 {
    padding-top: 24px;
}

.padded-t2 {
    padding-top: 48px !important;
}

.padded-t3 {
    padding-top: 72px;
}

.padded-t4 {
    padding-top: 96px;
}

.padded-x-3 {
    padding: 0 8px;
}

.padded-x0 {
    padding-left: 0;
    padding-right: 0;
}

.padded-mobile {
    padding-left: 24px;
    padding-right: 24px;
}

.margin-b0 {
    margin-bottom: 0;
}

.margin-r-4 {
    margin-right: 6px;
}

.margin-r-3 {
    margin-right: 8px;
}

.margin-r-2 {
    margin-right: 12px;
}

.banner {
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;
    height: 0;
    padding-top: 30%;
    position: relative;
    width: 100%;
    margin-top: -24px;
}

@media (max-width: 640px) {
    .banner {
        padding-top: 40%;
    }
}

.list {
    list-style: none;
    margin: 0;
}

.list li {
    margin: 0 0 24px;
    padding: 0;
}

.list li:last-child {
    margin-bottom: 0;
}

.controls {
    float: right;
}

.collapsible .header {
    cursor: pointer;
}

.collapsible .header h2,
.collapsible .header h3 {
    margin-bottom: 0;
    padding-right: 30px;
}

.collapsible .body {
    overflow: hidden;
    transition-duration: 0.2s;
    transition-property: max-height;
    cursor: pointer;
}

.collapsible .body .container {
    padding-top: 24px;
}

.collapsible .body .container > *:last-child {
    margin-bottom: 0;
}

.collapsible.teasing .body {
    position: relative;
}

.collapsible.teasing .body:after {
    background: linear-gradient(rgba(255, 255, 255, 0) 24px, #FFF);
    content: '';
    height: 100%;
    left: 0;
    opacity: 0;
    position: absolute;
    top: 0;
    transition-duration: 0.1s;
    transition-property: opacity;
    width: 100%;
    display: none;
}

.collapsible.collapsed .body {
    max-height: 0;
}

.collapsible.collapsed.teasing .body {
    max-height: 48px;
}

.collapsible.collapsed.teasing .body:after {
    opacity: 1;
    display: block;
}

.collapsible.expanded .header:before {
    transform: rotate(-180deg);
}

.collapsible.expanded .body {
    max-height: 10000px;
}

.overlay .collapsible .header, #content .overlay .collapsible .body {
    padding: 0px;
}

.icon {
    background: none;
    border: 0;
    outline: none;
}

.icon img {
    height: 24px;
    opacity: 0.8;
    transition-duration: 0.1s;
    transition-property: opacity;
}

.icon span {
    display: none;
}

.icon:hover img {
    opacity: 1;
}

.icon:active svg {
    opacity: 1;
}

.circle {
    border-radius: 50%;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;
    width: 100%;
    z-index: 2;
}

.circle:before {
    content: '';
    display: block;
    padding-top: 100%;
}

.scroll {
    -webkit-overflow-scrolling: touch;
    overflow-x: scroll;
    overflow-y: hidden;
    white-space: nowrap;
    width: 100%;
}

.scroll::-webkit-scrollbar {
    display: none;
}

.scroll > .wrapper .thumbnail {
    margin-right: 16px;
}

@media (max-width: 640px) {
    .scroll > .wrapper {
        display: table;
        padding-right: 0px;
    }
}

.scroll-wrapper {
    overflow: hidden;
}

.scroll-wrapper > * {
    margin-bottom: -24px;
    padding-bottom: 24px;
}

.scroll-wrapper .scroll-arrow-left {
    left: 24px;
}

.scroll-wrapper .scroll-arrow-right {
    right: 24px;
}

.scroll-wrapper .scroll-arrow {
    border-radius: 50%;
    box-shadow: 0 1px 1px 1px rgba(0, 0, 0, 0.12);
    box-sizing: border-box;
    background: white;
    cursor: pointer;
    height: 28.8px;
    margin-top: -16px;
    position: absolute;
    padding: 2px 0px;
    text-align: center;
    top: 50%;
    width: 28.8px;
    z-index: 1;
}

.scroll-wrapper .scroll-arrow img {
    margin: 3px auto;
    width: 18px;
}

.scroll-wrapper .scroll-arrow:hover {
    box-shadow: 0 1px 3px 2px rgba(0, 0, 0, 0.12);
    background: white;
}

.scroll-wrapper .scroll-arrow:hover.scroll-arrow-left {
    left: 20px;
}

.scroll-wrapper .scroll-arrow:hover.scroll-arrow-right {
    right: 20px;
}

.scroll-wrapper .scroll-arrow:active {
    box-shadow: 0 1px 1px 1px rgba(0, 0, 0, 0.12);
    background: white;
}

.scroll-wrapper .scroll-arrow:active.scroll-arrow-left {
    left: 18px;
}

.scroll-wrapper .scroll-arrow:active.scroll-arrow-right {
    right: 18px;
}

.thumbnail {
    color: inherit;
    display: inline-block;
    text-align: center;
    margin-right: 16px;
    vertical-align: top;
}

.thumbnail .preview {
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;
    display: inline-block;
    margin: 0 auto 6px;
}

.thumbnail .preview.circle {
    max-width: 150px;
}

.thumbnail strong {
    display: block;
    white-space: normal;
    width: 100%;
}

.thumbnail:hover {
    color: inherit;
    -ms-transform: translate3d(0, -4px, 0);
    -webkit-transform: translate3d(0, -4px, 0);
    transform: translate3d(0, -4px, 0);
}

@media (max-width: 640px) {
    .thumbnail:hover {
        -ms-transform: translate3d(0, 0, 0);
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }
}

table {
    border: 0;
    font-size: inherit;
    margin: 0;
}

table td,
table th {
    border: 0;
    padding: 12px;
}

table td:first-child,
table th:first-child {
    padding-left: 0;
}

table td:last-child,
table th:last-child {
    padding-right: 0;
}

table thead {
    background: none;
    color: inherit;
    font-size: inherit;
}

table thead th {
    font-weight: bold;
}

table tbody tr {
    border-top: 1px solid rgba(0, 0, 0, 0.12);
}

table tbody tr:first-child {
    border-top-width: 4px;
}

.meta {
    color: rgba(0, 0, 0, 0.56);
    font-size: 12px;
    font-size: 1.2rem;
}


.hero {
    margin-top: -10px;
}

.message {
    background: no-repeat left center;
    padding-left: 27px;
}

footer.account .sign-in {
    float: left;
    margin-right: 24px;
    padding: 3px 0;
}

footer.account .sign-in img {
    margin-right: 4px;
    margin-top: -3px;
    vertical-align: middle;
}


.bg-natural-grey {
    background-color: #f7f7f7;
}

.center {
    text-align: center;
}

.left {
    text-align: left;
}

.regular {
    font-weight: 400;
}

.bold {
    font-weight: 700;
}

.z-1 {
    z-index: -1;
}

.z0 {
    z-index: 0;
}

.z1 {
    z-index: 1;
}

.z2 {
    z-index: 1;
}

.relative {
    position: relative;
}

.absolute {
    position: absolute;
}

.visible {
    visibility: visible !important;
}

.invisible {
    visibility: hidden !important;
}

.block {
    display: block;
}

.hidden {
    display: none !important;
}

.desktop-button img,
.mobile-button img {
    border-radius: 26px;
    display: block;
    height: 52px;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.38);
}

.desktop-button {
    display: none;
}

@media (min-width: 1025px) {
    .desktop-button {
        display: block;
    }

    .mobile-button {
        display: none;
    }
}

@media (max-width: 640px) {
    .mobile-block {
        display: block !important;
    }

    .mobile-hidden {
        display: none !important;
    }
}

@media (min-width: 641px) {
    .tablet-block {
        display: block !important;
    }

    .tablet-hidden {
        display: none !important;
    }
}

@media (min-width: 1025px) {
    .desktop-block {
        display: block !important;
    }

    .desktop-hidden {
        display: none !important;
    }
}

.ease, .scroll-wrapper .scroll-arrow, .field.checkbox span:before, .field.checkbox label:after, .field.radios span:before, .field.radios label:after {
    -webkit-transition: all 0.1s ease;
    -moz-transition: all 0.1s ease;
    transition: all 0.1s ease;
}

.ease2, .thumbnail, .card, .page-front .carousel-home .slick-next, .page-front .tmall ul li a, .page-front .tmall ul li a .caption, .page-front .promotion a, .page-account-program-msr .levels .level-info > div,
.page-my-starbucks-rewards .levels .level-info > div {
    -webkit-transition: all 0.2s ease;
    -moz-transition: all 0.2s ease;
    transition: all 0.2s ease;
}

.break {
    overflow-wrap: break-word;
    word-wrap: break-word;
}

.page-coffeehouse-culture iframe {
    margin-top: -24px;
}

@media (max-width: 1024px) {
    .notice {
        margin-left: 0px;
        font-size: 14px;
        font-size: 1.4rem;
        line-height: 140%;
    }
}

.notice a {
    color: #FFF;
    display: inline-block;
    text-decoration: underline;
}

.notice .close {
    cursor: pointer;
    position: absolute;
    right: 0px;
    top: 0px;
    padding: 6px 12px;
    text-decoration: none;
    width: 12px;
}

.notice .close:hover {
    opacity: 9;
}

.carousel {
    overflow: hidden;
    visibility: hidden;
}

.carousel-home.slick-initialized,
.carousel.slick-initialized {
    visibility: visible;
}

.carousel-home .slick-slide,
.carousel .slick-slide {
    height: auto;
}

.promotion {
    padding: 24px 0;
}

.select label {
    font-size: 14px;
    font-size: 1.4rem;
}

.switch {
    display: block;
    float: left;
    height: 32px;
    margin: -4px 8px 0 0;
    position: relative;
    width: 50px;
}

.switch input {
    opacity: 0;
}

.switch input:checked + .slider {
    background: #00A862;
}

.switch input:checked + .slider span {
    transform: translateX(18px);
}

.switch input:focus + .slider span:after {
    animation-name: ripple2;
    -ms-animation-name: ripple2;
    -webkit-animation-name: ripple2;
    -ms-animation-duration: 0.3s;
    -webkit-animation-duration: 0.3s;
    animation-duration: 0.3s;
}

.switch .slider {
    background: rgba(0, 0, 0, 0.12);
    border-radius: 60px;
    bottom: 0;
    cursor: pointer;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    transition-duration: 0.2s;
}

.switch .slider span {
    background: #FFF;
    border-radius: 50%;
    bottom: 1px;
    height: 30px;
    left: 1px;
    position: absolute;
    width: 30px;
    transition-duration: 0.2s;
}

.switch .slider span:after {
    content: '';
    border-radius: 50%;
    background: #00A862;
    left: -9px;
    opacity: 0;
    position: absolute;
    top: -9px;
    -ms-transform: scale(0);
    -webkit-transform: scale(0);
    transform: scale(0);
    height: 48px;
    width: 48px;
}

.switch + label {
    cursor: pointer;
    display: inline-block;
}

.select {
    cursor: pointer;
    display: inline-block;
    position: relative;
    width: 100%;
}

.actions {
    padding-top: 24px;
    text-align: right;
}

.info > img {
    position: absolute;
    width: 18px;
}

@-webkit-keyframes ripple2 {
    0% {
        opacity: 0;
        -ms-transform: scale(0);
        -webkit-transform: scale(0);
        transform: scale(0);
    }
    50% {
        opacity: 0.1;
        -ms-transform: scale(1);
        -webkit-transform: scale(1);
        transform: scale(1);
    }
    100% {
        opacity: 0;
        -ms-transform: scale(1);
        -webkit-transform: scale(1);
        transform: scale(1);
    }
}

.badge-dot {
    display: inline-block;
    position: relative;
}

.badge-dot:after {
    content: '';
    background-color: #e75b52;
    border: 1px solid #fff;
    border-radius: 50%;
    height: 8px;
    right: -4px;
    top: -4px;
    position: absolute;
    width: 8px;
}

.primary-mobile .badge-dot {
    position: initial;
}

.primary-mobile .badge-dot:after {
    right: 17px;
    top: 5px;
}

.tabs {
    box-sizing: border-box;
    margin-bottom: 12px;
    -webkit-overflow-scrolling: touch;
    overflow-x: scroll;
    overflow-y: hidden;
    white-space: nowrap;
    width: 100%;
}

.tabs::after {
    clear: both;
    content: "";
    display: table;
}

.tabs::-webkit-scrollbar {
    display: none;
}

.tabs ul,
.tabs li {
    display: inline-block;
}

.tabs ul {
    margin: 0;
    padding: 0;
}

.tabs a {
    display: inline-block;
    color: rgba(0, 0, 0, 0.56);
    padding: 12px;
}

.tabs a.active, .tabs a:active, .tabs a:hover {
    color: inherit;
}

.tabs a.active {
    border-bottom: 3px solid #00A862;
    color: rgba(0, 0, 0, 0.87);
    font-weight: 700;
    padding-bottom: 9px;
}

.radio-tabs {
    display: inline-flex;
    white-space: nowrap;
}

.radio-tabs .radio-tab {
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: auto;
    display: inline-block;
    box-sizing: border-box;
    padding: 3px 36px;
    border: 1px solid #00A862;
    background: none;
    color: #00A862;
    font-size: 14px;
    font-weight: 500;
    outline: none;
    overflow: hidden;
    white-space: normal;
}

.radio-tabs .radio-tab:first-of-type {
    border-radius: 48px 0 0 48px;
}

.radio-tabs .radio-tab:last-of-type {
    border-radius: 0 48px 48px 0;
}

.radio-tabs .radio-tab + .radio-tabs .radio-tab {
    border-left: none;
}

.radio-tabs .radio-tab.active {
    background: #00A862;
    color: #FFF;
}

@media (max-width: 640px) {
    .radio-tabs .radio-tab {
        padding: 3px 12px;
    }
}

.grid > * {
    position: relative;
}

@media (max-width: 640px) {
    .grid {
        list-style: none;
        margin: 0;
        padding: 0;
    }

    .grid::after {
        clear: both;
        content: "";
        display: table;
    }

    .grid > * {
        box-sizing: border-box;
        clear: none;
        float: left;
        margin: 0;
        padding: 0;
        width: 50%;
    }

    .grid > *:nth-child(2n + 1) {
        clear: left;
    }
}

@media (min-width: 641px) and (max-width: 1024px) {
    .grid {
        list-style: none;
        margin: 0;
        padding: 0;
    }

    .grid::after {
        clear: both;
        content: "";
        display: table;
    }

    .grid > * {
        box-sizing: border-box;
        clear: none;
        float: left;
        margin: 0;
        padding: 0;
        width: 33.3333333333%;
    }

    .grid > *:nth-child(3n + 1) {
        clear: left;
    }
}

@media (min-width: 1025px) {
    .grid {
        list-style: none;
        margin: 0;
        padding: 0;
    }

    .grid::after {
        clear: both;
        content: "";
        display: table;
    }

    .grid > * {
        box-sizing: border-box;
        clear: none;
        float: left;
        margin: 0;
        padding: 0;
        width: 25%;
    }

    .grid > *:nth-child(4n + 1) {
        clear: left;
    }
}

@media (max-width: 640px) {
    .grid.columns-2 {
        list-style: none;
        margin: 0;
        padding: 0;
    }

    .grid.columns-2::after {
        clear: both;
        content: "";
        display: table;
    }

    .grid.columns-2 > * {
        box-sizing: border-box;
        clear: none;
        float: left;
        margin: 0;
        padding: 0;
        width: 100%;
    }

    .grid.columns-2 > *:nth-child(1n + 1) {
        clear: left;
    }
}

@media (min-width: 641px) {
    .grid.columns-2 {
        list-style: none;
        margin: 0;
        padding: 0;
    }

    .grid.columns-2::after {
        clear: both;
        content: "";
        display: table;
    }

    .grid.columns-2 > * {
        box-sizing: border-box;
        clear: none;
        float: left;
        margin: 0;
        padding: 0;
        width: 50%;
    }

    .grid.columns-2 > *:nth-child(2n + 1) {
        clear: left;
    }
}

@media (max-width: 640px) {
    .grid.columns-3 {
        list-style: none;
        margin: 0;
        padding: 0;
    }

    .grid.columns-3::after {
        clear: both;
        content: "";
        display: table;
    }

    .grid.columns-3 > * {
        box-sizing: border-box;
        clear: none;
        float: left;
        margin: 0;
        padding: 0;
        width: 100%;
    }

    .grid.columns-3 > *:nth-child(1n + 1) {
        clear: left;
    }
}

@media (min-width: 641px) and (max-width: 1024px) {
    .grid.columns-3 {
        list-style: none;
        margin: 0;
        padding: 0;
    }

    .grid.columns-3::after {
        clear: both;
        content: "";
        display: table;
    }

    .grid.columns-3 > * {
        box-sizing: border-box;
        clear: none;
        float: left;
        margin: 0;
        padding: 0;
        width: 50%;
    }

    .grid.columns-3 > *:nth-child(2n + 1) {
        clear: left;
    }
}

@media (min-width: 1025px) {
    .grid.columns-3 {
        list-style: none;
        margin: 0;
        padding: 0;
    }

    .grid.columns-3::after {
        clear: both;
        content: "";
        display: table;
    }

    .grid.columns-3 > * {
        box-sizing: border-box;
        clear: none;
        float: left;
        margin: 0;
        padding: 0;
        width: 33.3333333333%;
    }

    .grid.columns-3 > *:nth-child(3n + 1) {
        clear: left;
    }
}

@media (max-width: 640px) {
    .grid.columns-4 {
        list-style: none;
        margin: 0;
        padding: 0;
    }

    .grid.columns-4::after {
        clear: both;
        content: "";
        display: table;
    }

    .grid.columns-4 > * {
        box-sizing: border-box;
        clear: none;
        float: left;
        margin: 0;
        padding: 0;
        width: 50%;
    }

    .grid.columns-4 > *:nth-child(2n + 1) {
        clear: left;
    }
}

@media (min-width: 641px) and (max-width: 1024px) {
    .grid.columns-4 {
        list-style: none;
        margin: 0;
        padding: 0;
    }

    .grid.columns-4::after {
        clear: both;
        content: "";
        display: table;
    }

    .grid.columns-4 > * {
        box-sizing: border-box;
        clear: none;
        float: left;
        margin: 0;
        padding: 0;
        width: 25%;
    }

    .grid.columns-4 > *:nth-child(4n + 1) {
        clear: left;
    }
}

@media (max-width: 640px) {
    .grid.columns-5 {
        list-style: none;
        margin: 0;
        padding: 0;
    }

    .grid.columns-5::after {
        clear: both;
        content: "";
        display: table;
    }

    .grid.columns-5 > * {
        box-sizing: border-box;
        clear: none;
        float: left;
        margin: 0;
        padding: 0;
        width: 33.3333333333%;
    }

    .grid.columns-5 > *:nth-child(3n + 1) {
        clear: left;
    }
}

@media (min-width: 641px) and (max-width: 1024px) {
    .grid.columns-5 {
        list-style: none;
        margin: 0;
        padding: 0;
    }

    .grid.columns-5::after {
        clear: both;
        content: "";
        display: table;
    }

    .grid.columns-5 > * {
        box-sizing: border-box;
        clear: none;
        float: left;
        margin: 0;
        padding: 0;
        width: 25%;
    }

    .grid.columns-5 > *:nth-child(4n + 1) {
        clear: left;
    }
}

@media (min-width: 1025px) {
    .grid.columns-5 {
        list-style: none;
        margin: 0;
        padding: 0;
    }

    .grid.columns-5::after {
        clear: both;
        content: "";
        display: table;
    }

    .grid.columns-5 > * {
        box-sizing: border-box;
        clear: none;
        float: left;
        margin: 0;
        padding: 0;
        width: 20%;
    }

    .grid.columns-5 > *:nth-child(5n + 1) {
        clear: left;
    }
}

.grid.padded, .grid.padded-1 {
    margin: -6px 0;
}

.grid.padded.columns-2, .grid.padded.columns-3, .grid.padded-1.columns-2, .grid.padded-1.columns-3 {
    margin: -6px;
}

.grid.padded > *, .grid.padded-1 > * {
    padding: 6px;
}

.grid.padded.margin, .grid.padded-1.margin {
    margin-bottom: 18px;
}

.grid.padded-2 {
    margin: -12px;
}

.grid.padded-2.columns-2, .grid.padded-2.columns-3 {
    margin: -12px;
}

.grid.padded-2 > * {
    padding: 12px;
}

.grid.padded-2.margin {
    margin-bottom: 12px;
}

.grid.padded-3 {
    margin: -16px;
}

.grid.padded-3.columns-2, .grid.padded-3.columns-3 {
    margin: -16px;
}

.grid.padded-3 > * {
    padding: 16px;
}

.grid.padded-3.margin {
    margin-bottom: 8px;
}

.grid.padded-4 {
    margin: -24px;
}

.grid.padded-4.columns-2, .grid.padded-4.columns-3 {
    margin: -24px;
}

.grid.padded-4 > * {
    padding: 24px;
}

.grid.padded-4.margin {
    margin-bottom: 0px;
}

.grid .thumbnail {
    display: block;
}


@media (max-width: 640px) {
    .box.column .grid > div:first-child {
        width: 100%;
        height: 240px;
    }
}

.card {
    background: #FFF;
    border-radius: 2px;
    box-shadow: 0 1px 1px 1px rgba(0, 0, 0, 0.12);
    display: block;
    overflow: hidden;
    position: relative;
    padding: 18px;
}

.card > *:last-child {
    margin-bottom: 0;
}

.card .icon {
    float: right;
}

.card.green {
    background-color: #00A862;
}

.card.dark {
    background-color: #3D3935;
}

.card.green, .card.dark {
    color: #FFF;
}

.card.green h1,
.card.green h2,
.card.green h3, .card.dark h1,
.card.dark h2,
.card.dark h3 {
    color: #FFF;
}

.card.colored {
    border-top: 4px solid #00653E;
    padding: 0;
}

.card.colored .wrapper {
    background-color: #00A862;
    color: #FFF;
    padding: 18px;
    text-align: center;
}

.card.colored .icon {
    opacity: 0.5;
}

.card.colored .content {
    padding: 18px;
}

.card.colored:hover {
    box-shadow: 0 1px 1px 1px rgba(0, 0, 0, 0.12);
}

.card.thumbnail {
    box-sizing: border-box;
    display: inline-block;
    margin-right: 16px;
}

.card.thumbnail .tag {
    font-size: 14px;
    font-size: 1.4rem;
    background: #C2A661;
    color: #FFF;
    position: absolute;
    padding: 4px 12px;
    left: 0px;
    top: 6px;
}

.card.thumbnail.rect {
    width: 288px;
}

.card.thumbnail.rect .preview {
    height: 168px;
    width: calc(100% + 38px);
}

.card.thumbnail.rect strong {
    font-weight: normal;
    text-align: left;
    white-space: normal;
}

@media (max-width: 640px) {
    .card.thumbnail.rect {
        width: 252px;
    }

    .card.thumbnail.rect .preview {
        height: 144px;
    }
}

.card.thumbnail:hover {
    box-shadow: 0 1px 3px 2px rgba(0, 0, 0, 0.12);
    -ms-transform: translate3d(0, -4px, 0);
    -webkit-transform: translate3d(0, -4px, 0);
    transform: translate3d(0, -4px, 0);
}

@media (max-width: 640px) {
    .card.thumbnail:hover {
        -ms-transform: translate3d(0, 0, 0);
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }
}

.card.thumbnail .preview {
    margin-top: -18px;
    margin-left: -19px;
    margin-right: -19px;
    height: 168px;
    width: calc(100% + 38px);
}

.card.thumbnail time {
    display: block;
    color: #C2A661;
    font-size: 12px;
    font-size: 1.2rem;
    text-align: left;
}

.card.news {
    padding: 0;
}


.page-front .section .wrapper.center .light {
    margin: 0 10%;
    width: 80%;
}

.page-front .notice {
    display: block;
}

.page-front .notice a {
    display: inline-block;
    text-decoration: none;
}

.page-front .carousel-home img {
    width: 100%;
}

.page-front .carousel-home .slick-slide {
    min-height: 240px;
}

.page-front .carousel-home .slick-prev {
    display: none !important;
}

@media (max-width: 640px) {
    .page-front .carousel-home .slick-next {
        height: 36px;
        width: 36px;
        right: 12px;
    }
}

.page-front .carousel-home .slick-next:hover {
    right: 16px;
}

.page-front .carousel-home .slick-next:active {
    right: 6px;
}

.page-front .carousel-home a {
    position: relative;
}

.page-front .carousel-home a span {
    -webkit-transition: all 0.4s ease;
    -moz-transition: all 0.4s ease;
    transition: all 0.4s ease;
    opacity: 0;
    visibility: hidden;
    position: absolute;
    left: 5%;
    top: 50%;
    -ms-transform: translate3d(0, -50%, 0);
    -webkit-transform: translate3d(0, -50%, 0);
    transform: translate3d(0, -50%, 0);
    max-width: 40%;
}

.page-front .carousel-home a span p {
    display: block;
    line-height: 100%;
}

.page-front .carousel-home a span p small {
    font-size: 14px;
    font-size: 1.4rem;
}

.page-front .carousel-home a span.animated {
    opacity: 1;
    left: 10%;
    visibility: visible;
}

@media (max-width: 640px) {
    .page-front .carousel-home a span {
        top: 22%;
        width: 80%;
    }

    .page-front .carousel-home a span p {
        margin-bottom: 18px;
    }

    .page-front .carousel-home a span.animated {
        max-width: 80%;
        text-align: center;
    }
}

.page-front .program-msr {
    clear: both;
}

.page-front .program-msr::after {
    clear: both;
    content: "";
    display: table;
}

.page-front .program-msr .wrapper {
    overflow: hidden;
    position: relative;
}

.page-front .program-msr .wrapper .grid {
    position: relative;
    list-style: none;
    margin: 0;
    padding: 0;
}

.page-front .program-msr .wrapper .grid::after {
    clear: both;
    content: "";
    display: table;
}

.page-front .program-msr .wrapper .grid > * {
    box-sizing: border-box;
    clear: none;
    float: left;
    margin: 0;
    padding: 0;
    width: 50%;
}

.page-front .program-msr .wrapper .grid > *:nth-child(2n + 1) {
    clear: left;
}

.page-front .program-msr .wrapper .grid div:first-child {
    padding-top: 36px;
    padding-bottom: 36px;
}

.page-front .program-msr .wrapper .grid div:first-child h2,
.page-front .program-msr .wrapper .grid div:first-child p {
    clear: both;
}

.page-front .program-msr .wrapper .grid div:first-child h2::after,
.page-front .program-msr .wrapper .grid div:first-child p::after {
    clear: both;
    content: "";
    display: table;
}

.page-front .program-msr .wrapper .grid div:first-child h2 a,
.page-front .program-msr .wrapper .grid div:first-child p a {
    vertical-align: middle;
}

.page-front .program-msr .wrapper .grid div:first-child .button {
    margin-right: 6px;
}

.page-front .program-msr .wrapper .grid div:first-child .button.link {
    color: #C2A661;
}

.page-front .program-msr .wrapper .grid div.image {
    position: static;
}

.page-front .program-msr .wrapper .grid div.image img {
    height: 72px;
    top: 50%;
    position: absolute;
    margin-top: -36px;
    right: 0px;
    transform: translate3d(0, 0, 0);
}

@media (max-width: 640px) {
    .page-front .program-msr .wrapper .grid {
        list-style: none;
        margin: 0;
        padding: 0;
        text-align: center;
    }

    .page-front .program-msr .wrapper .grid::after {
        clear: both;
        content: "";
        display: table;
    }

    .page-front .program-msr .wrapper .grid > * {
        box-sizing: border-box;
        clear: none;
        float: left;
        margin: 0;
        padding: 0;
        width: 100%;
    }

    .page-front .program-msr .wrapper .grid > *:nth-child(1n + 1) {
        clear: left;
    }

    .page-front .program-msr .wrapper .grid div:first-child {
        padding-top: 24px;
        padding-bottom: 0;
    }

    .page-front .program-msr .wrapper .grid div.image {
        height: 160px;
        padding-bottom: 24px;
    }

    .page-front .program-msr .wrapper .grid div.image img {
        position: relative;
    }
}

.page-front .tmall {
    padding-top: 36px;
    padding-bottom: 36px;
}

.page-front .tmall ul {
    padding-top: 48px !important;
}

.page-front .tmall ul li {
    padding: 12px !important;
}

@media (min-width: 641px) {
    .page-front .tmall ul li {
        list-style: none;
        margin: 0;
        padding: 0;
    }

    .page-front .tmall ul li::after {
        clear: both;
        content: "";
        display: table;
    }

    .page-front .tmall ul li > * {
        box-sizing: border-box;
        clear: none;
        float: left;
        margin: 0;
        padding: 0;
        width: 50%;
    }

    .page-front .tmall ul li > *:nth-child(2n + 1) {
        clear: left;
    }
}

@media (max-width: 640px) {
    .page-front .tmall ul li:nth-child(1) {
        margin-bottom: 48px;
    }
}

.page-front .tmall ul li a {
    box-shadow: 0 1px 1px 1px rgba(0, 0, 0, 0.12);
    box-sizing: border-box;
    background: #fff;
    border-radius: 2px;
    display: inline-block;
    position: relative;
    padding: 0 6px;
    text-align: center;
    width: 100%;
}

.page-front .tmall ul li a p {
    font-size: 14px;
    font-size: 1.4rem;
}

.page-front .tmall ul li a p.margin2 {
    color: rgba(0, 0, 0, 0.56) !important;
}

.page-front .tmall ul li a p.title-1 {
    font-size: 16px;
    font-size: 1.6rem;
}

.page-front .tmall ul li a .title-1 {
    color: rgba(0, 0, 0, 0.87);
    margin-top: 8px;
    margin-bottom: 8px;
}

.page-front .tmall ul li a img {
    margin-top: -36px;
    height: 72px;
}

.page-front .tmall ul li a .caption {
    font-size: 1.2rem;
    color: #C2A661;
    font-weight: 400;
    opacity: 0.7;
    text-transform: none;
}

.page-front .tmall ul li a:hover {
    box-shadow: 0 1px 3px 2px rgba(0, 0, 0, 0.12);
    -ms-transform: translate3d(0, -4px, 0);
    -webkit-transform: translate3d(0, -4px, 0);
    transform: translate3d(0, -4px, 0);
}

@media (max-width: 640px) {
    .page-front .tmall ul li a:hover {
        -ms-transform: translate3d(0, 0, 0);
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }
}

.page-front .tmall ul li a:hover .title-1 {
    color: rgba(0, 0, 0, 0.87);
}

.page-front .tmall ul li a:hover p {
    color: rgba(0, 0, 0, 0.56);
}

.page-front .tmall ul li a:hover .caption {
    color: #887035;
}

.page-front .tmall ul li:nth-child(1) a img {
    margin-top: -48px;
    height: 72px;
    margin-bottom: -24px;
}

.page-front .tmall ul li:nth-child(1) a p.title-1 {
    margin-top: 26px;
}


.page-front .promotion a img {
    float: left;
    box-shadow: 0 1px 1px 1px rgba(0, 0, 0, 0.12);
    border-radius: 2px;
}

.page-front .promotion a:hover {
    -ms-transform: translate3d(0, -4px, 0);
    -webkit-transform: translate3d(0, -4px, 0);
    transform: translate3d(0, -4px, 0);
}

@media (max-width: 640px) {
    .page-front .promotion a:hover {
        -ms-transform: translate3d(0, 0, 0);
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }
}

.page-front .promotion a:hover img {
    box-shadow: 0 1px 3px 2px rgba(0, 0, 0, 0.12);
}

.page-front .coffeehouse {
    background-image: linear-gradient( #FCFCFC 0%, #FFF 100%);
    padding: 36px 0 36px 0;
    margin-bottom: -24px;
}

.page-front .coffeehouse .thumbnail.rect.card strong {
    white-space: initial;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
}

.page-front .coffeehouse .scroll-wrapper {
    position: relative;
}



.page-front .coffeehouse .scroll {
    margin-right: 24px;
}