<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>活动详情页面</title>
    <link rel="stylesheet" href="css/detail.css">
</head>
<body class="post">
<header id="header">
    <div id="header-box" class="">
        <div class="wrapper">
            <div class="line"></div>
            <div>报名参加</div>
            <div class="line"></div>
        </div>
        <div id="progress" style="width: 0%"></div>
    </div>
</header>

<section id="content">
    <header class="hero">
        <div class="cover parallax"
             style="background-image: url(images/coffee-cultivation-1.jpg);"></div>
    </header>
    <section class="wrapper">
        <header class="header">
            <h1>
                周末参观了解咖啡的培植
            </h1>
            <p>
                在地理概念上，全球性的咖啡种植区有三个——东非和阿拉伯半岛，东南亚和环太平洋地区，拉丁美洲。
            </p>
            <section class="meta">
            </section>
        </header>
        <section class="breadcrumb">
            <a href="/main" class="breadcrumb-link" id="blog-home-breadcrumb">首页</a>
            <svg class="nav-search-button-glyph" width="13px" height="25px" viewBox="14 1 27 26" version="1.1">
                <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd" >
                    <g id="Line-+-Line-+-Line-Copy" stroke="#897A6C" stroke-width="3"
                       stroke-linecap="round">
                        <path stroke="#2f2f2f" class="nav-search-button-path" d="M15,1 L27,13" id="Line">
                        </path>
                        <path stroke="#2f2f2f" class="nav-search-button-path"
                              d="M14.8878434,13.1064688 L26.8878434,25.1064688" id="Line-Copy"
                              transform="translate(20.887843, 19.106469) rotate(-90.000000) translate(-20.887843, -19.106469) ">
                        </path>
                    </g>
                </g>
            </svg>
            <a href="/main" class="breadcrumb-link"
               id="blog-category-breadcrumb">文艺生活</a>
            <svg class="nav-search-button-glyph" width="13px" height="25px" viewBox="14 1 27 26" version="1.1">
                <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                    <g id="Line-+-Line-+-Line-Copy" stroke="#897A6C" stroke-width="3"
                       stroke-linecap="round">
                        <path stroke="#2f2f2f" class="nav-search-button-path" d="M15,1 L27,13" id="Line">
                        </path>
                        <path stroke="#2f2f2f" class="nav-search-button-path"
                              d="M14.8878434,13.1064688 L26.8878434,25.1064688" id="Line-Copy"
                              transform="translate(20.887843, 19.106469) rotate(-90.000000) translate(-20.887843, -19.106469) ">
                        </path>
                    </g>
                </g>
            </svg>
            <span class="breadcrumb-span">咖啡的培植</span>
        </section>
        <section class="body">
            <p>不同地区种植出来的咖啡具有不同的风味——一个国家特别的土壤、气候条件和种植方式使得该国出产的咖啡具有特别的风味。法国的酿酒大师把这种现象叫做“地域风格”。
            在地理概念上，全球性的咖啡种植区有三个——东非和阿拉伯半岛，东南亚和环太平洋地区，拉丁美洲。
            某些种类的咖啡树能长到30至40英尺高。
            然而，为方便采摘咖啡豆，人们经常通过一些方法来使咖啡树不长那么高。平均而言，一株咖啡树每年所产的咖啡果只够烘焙出0.5公斤的咖啡粉。而对于大多数喜好咖啡的人来说，喝完这些咖啡只需要一个星期的时间！
            有两种具有重要经济价值的咖啡：阿拉伯种咖啡豆和东非洲种咖啡豆。在高海拔地区，阿拉伯种咖啡生长得较好，这种咖啡的风味比其它咖啡要精致得多，而且，这种咖啡中咖啡因的含量只占咖啡全部重量的1%。正如其名称所表明的那样，东非洲种咖啡滋味醇厚，抵抗病虫害的能力强，单株产量也很高。该种咖啡生长在低海拔地区，味道苦涩。星巴克公司只采购高品质的阿拉伯种咖啡。
            收获季节，咖啡树上长满了鲜红的咖啡果。未经烘焙的咖啡豆只是咖啡果的果核。</p>
            <p><img src="images/coffee-cultivation-1.jpg" alt="咖啡豆"></p>
        </section>
    </section>

    <footer class="footer">
        <section class="wrapper">
            <h3>类似活动</h3>
            <ul class="grid featured">
                <li class="card active" id="blog-related-1" style="transition-delay: 0s">
                    <a href="/main">
                        <div class="image">
                            <div class="blog-related-cover cover"
                                 style="background-image: url(images/coffee-cultivation-1.jpg);"></div>
                        </div>
                        <div class="text">
                            <h3 class="blog-related-title">咖啡烘焙</h3>
                            <p class="blog-related-subtitle">
                                更多地体现在我们为使每一颗咖啡豆具有上佳口味而花费的心血上。星巴克烘焙的颜色可以模仿，但它特别的风味却是无法模仿的。</p>
                        </div>
                        <small class="tag"><span class="label">文艺生活</span></small>
                    </a>
                </li>
                <li class="card active" id="blog-related-2" style="transition-delay: 0.1s">
                    <a href="/main">
                        <div class="image">
                            <div class="blog-related-cover cover"
                                 style="background-image: url(images/coffee-cultivation-1.jpg);"></div>
                        </div>
                        <div class="text">
                            <h3 class="blog-related-title">星巴克更高的阿拉比卡标准</h3>
                            <p class="blog-related-subtitle">卓越咖啡，源于品质咖啡豆。</p>
                        </div>
                        <small class="tag"><span class="label">文艺生活</span></small>
                    </a>
                </li>

                <li class="card active" id="blog-related-3" style="transition-delay: 0.2s">
                    <a href="/main">
                        <div class="image">
                            <div class="blog-related-cover cover"
                                 style="background-image: url(images/coffee-cultivation-1.jpg);"></div>
                        </div>
                        <div class="text">
                            <h3 class="blog-related-title">咖啡历史</h3>
                            <p class="blog-related-subtitle">咖啡的历史与咖啡的酿制方式，有着同样丰富的内容。它可以追溯到一千多年以前。</p>
                        </div>
                        <small class="tag"><span class="label">文艺生活</span></small>
                    </a>
                </li>
            </ul>
        </section>
    </footer>
</section>
<!-- JS -->
<script src="js/scripts.js" type="text/javascript"></script>
</body>
</html>