<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en" class="no-js">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>大学生协同出游</title>

    <link rel="stylesheet" type="text/css" href="css/base.css"/>
    <link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">
    <!--<link rel="stylesheet" type="text/css" href="fonts/font-awesome.min.css">-->
    <!--<link rel="stylesheet" type="text/css" href="fonts/material-design-iconic-font.min.css">-->
    <link rel="stylesheet" type="text/css" href="css/utils.css">
    <link rel="stylesheet" type="text/css" href="css/main.css">


    <script>document.documentElement.className = "js";
    var supportsCssVars = function () {
        var e, t = document.createElement("style");
        return t.innerHTML = "root: { --tmp-var: bold; }", document.head.appendChild(t), e = !!(window.CSS && window.CSS.supports && window.CSS.supports("font-weight", "var(--tmp-var)")), t.parentNode.removeChild(t), e
    };
    supportsCssVars() || alert("Please view this demo in a modern browser that supports CSS Variables.");</script>

</head>
<body class="loading demo-1">
<main>
    <div class="deco deco--bg"></div>
    <div class="deco deco--shape deco--shape-hor deco--shape-1"></div>
    <div class="deco deco--shape deco--shape-hor deco--shape-2"></div>
    <div class="slideshow">
        <div class="slide">
            <div class="slide__image" style="background-image:url(images/1.jpg)"></div>
            <h2 class="slide__title">Fairyland</h2>
        </div>
        <div class="slide">
            <div class="slide__image slide__image--hidden" style="background-image:url(images/2.jpg)"></div>
            <h2 class="slide__title slide__title--hidden">WonderfulCountry</h2>
        </div>
        <div class="slide">
            <div class="slide__image slide__image--hidden" style="background-image:url(images/3.jpg)"></div>
            <h2 class="slide__title slide__title--hidden">ModernCity</h2>
        </div>
        <div class="slide">
            <div class="slide__image slide__image--hidden" style="background-image:url(images/4.jpg)"></div>
            <h2 class="slide__title slide__title--hidden">OldTown</h2>
        </div>
        <div class="slide">
            <div class="slide__image slide__image--hidden" style="background-image:url(images/5.jpg)"></div>
            <h2 class="slide__title slide__title--hidden">Island</h2>
        </div>
        <!--<nav class="nav">-->
        <!--<button class="nav__button nav__button&#45;&#45;previous">Previous</button>-->
        <!--<button class="nav__button nav__button&#45;&#45;next">Next</button>-->
        <!--</nav>-->
        <div class="nav_dot">
            <ul class="nav_container">
                <li class="nav_previous"></li>
                <li class="dot"></li>
                <li class="dot"></li>
                <li class="dot"></li>
                <li class="dot"></li>
                <li class="dot"></li>
                <li class="nav_next"></li>
            </ul>
        </div>

        <div class="container-login100">
            <ul class="register">
                <li class="register-li">
                    <input class="header-anchor" name="nav" type="radio" id="tab1" checked>
                    <label class="header-item" for="tab1">登 陆</label>
                    <div class="wrap-login100 p-l-55 p-r-55 p-t-65 p-b-54">
                        <form class="login100-form validate-form regist-form">
                            <span class="login100-form-title p-b-49">注 册</span>
                            <div class="wrap-input100 validate-input regist" data-validate="请输入账号">
                                <span class="label-input100">账号</span>
                                <input class="input100 registinfo" type="text" name="username" placeholder="请输入账号" autocomplete="off">
                                <!--<span class="focus-input100" data-symbol="123"></span>-->
                                <span class="focus-input100" style="background-image: url(icon/account.png);background-repeat: no-repeat;background-size: 24px 24px;background-position-x: 4%;background-position-y: 70%"></span>
                            </div>

                            <div class="wrap-input100 validate-input regist" data-validate="请输入姓名">
                                <span class="label-input100">姓名</span>
                                <input class="input100 registinfo" type="text" name="name" placeholder="请输入姓名">
                                <!--<span class="focus-input100" data-symbol="123"></span>-->
                                <span class="focus-input100" style="background-image: url(icon/nameicon.png);background-repeat: no-repeat;background-size: 24px 24px;background-position-x: 4%;background-position-y: 70%"></span>
                            </div>

                            <div class="wrap-input100 validate-input regist" data-validate="请输入密码">
                                <span class="label-input100">密码</span>
                                <input class="input100 registinfo" type="password" name="pass" placeholder="请输入密码">
                                <!--<span class="focus-input100" data-symbol="123"></span>-->
                                <span class="focus-input100" style="background-image: url(icon/password.png);background-repeat: no-repeat;background-size: 24px 24px;background-position-x: 4%;background-position-y: 70%"></span>
                            </div>
                            <div class="container-login100-form-btn">
                                <div class="wrap-login100-form-btn">
                                    <div class="login100-form-bgbtn"></div>
                                    <button class="login100-form-btn">注 册</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </li>
                <li class="register-li">
                    <input class="header-anchor" name="nav" type="radio" id="tab2">
                    <label class="header-item" for="tab2">注 册</label>
                    <div class="wrap-login100 p-l-55 p-r-55 p-t-65 p-b-54" id="regist">
                        <form class="login100-form validate-form signin-form">
                            <span class="login100-form-title p-b-49">登 陆</span>
                            <div class="wrap-input100 validate-input signin" data-validate="请输入账号">
                                <span class="label-input100">账号</span>
                                <input class="input100 signinfo" type="text" name="username" placeholder="请输入账号" autocomplete="off">
                                <!--<span class="focus-input100" data-symbol="123"></span>-->
                                <span class="focus-input100" style="background-image: url(icon/account.png);background-repeat: no-repeat;background-size: 24px 24px;background-position-x: 4%;background-position-y: 70%"></span>
                            </div>

                            <div class="wrap-input100 validate-input signin" data-validate="请输入密码">
                                <span class="label-input100">密码</span>
                                <input class="input100 signinfo" type="password" name="pass" placeholder="请输入密码">
                                <!--<span class="focus-input100" data-symbol="123"></span>-->
                                <span class="focus-input100" style="background-image: url(icon/password.png);background-repeat: no-repeat;background-size: 24px 24px;background-position-x: 4%;background-position-y: 70%"></span>
                            </div>
                            <div class="wrap-input100 validate-input signin" data-validate="请输入验证码">
                                <span class="label-input100">验证码</span>
                                <img id="verify-code" src="/getImage" onclick="changeImg()" style="position: relative;top: 105px;left: -44px;">
                                <input class="input100 signinfo" type="password" name="pass" placeholder="请输入验证码">
                                <!--<span class="focus-input100" data-symbol="123"></span>-->
                                <span class="focus-input100" style="background-image: url(icon/vcode.png);background-repeat: no-repeat;background-size: 24px 24px;background-position-x: 4%;background-position-y: 70%"></span>
                            </div>

                            <div class="text-right p-t-8 p-b-31">
                                <a href="javascript:" class="txt1">忘记密码？</a>
                            </div>

                            <div class="container-login100-form-btn">
                                <div class="wrap-login100-form-btn">
                                    <div class="login100-form-bgbtn"></div>
                                    <a th:href="@{/login}">
                                        <!--<button class="login100-form-btn" type="button">登 录</button>-->
                                        <button class="login100-form-btn" type="button">登 录</button>
                                    </a>
                                </div>
                            </div>
                        </form>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</main>

<script src="js/charming.min.js"></script>
<script src="js/imagesloaded.pkgd.min.js"></script>
<script src="js/TweenMax.min.js"></script>
<script src="js/demo.js"></script>
<script src="js/jquery-3.2.1.min.js"></script>
<script src="js/main.js"></script>

<script type="text/javascript">
    function changeImg(){
        var img = document.getElementById("verify-code");
        var url = "/getImage";
        var xhr = new XMLHttpRequest();
        xhr.open('GET', url, true);
        xhr.responseType = "blob";
        // xhr.setRequestHeader("client_type", "DESKTOP_WEB");
        // xhr.setRequestHeader("desktop_web_access_key", _desktop_web_access_key);
        xhr.onload = function() {
            if (this.status == 200) {
                var blob = this.response;
                img.onload = function(e) {
                    window.URL.revokeObjectURL(img.src);
                };
                img.src = window.URL.createObjectURL(blob);
                // $("#imgcontainer").html(img);
            }
        };
        xhr.send();
    }
</script>

</body>
</html>
