<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>大学生协同出游</title>
    <!-- CSS -->
    <link rel="stylesheet" href="css/styles.css">
</head>
<body class="page-front">
<div>
    <!-- Page content -->
    <section>
        <section class="hero">
            <div class="slick-initialized">
                <div class="slick-list">
                    <div class="slick-track" style="width: 100%;">
                        <div class="slick-slide" style="width: 100%;">
                        </div>
                        <div class="slick-slide" style="width: 100%;">
                            <a class="block relative" href="#" tabindex="-1">
                                <img src="images/kv-0.jpg" class="tablet-block mobile-hidden">
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section class="promotion">
            <div class="wrapper fluid">
                <div class="grid columns-3 padded-2">
                    <a href="#" target="_blank">
                        <img src="images/starbucks-tmall-0102-cn.jpg">
                    </a>
                    <a href="#" target="_blank">
                        <img src="images/starbucks-design-studio-web-china.jpg">
                    </a>
                    <a href="#" target="_blank">
                        <img src="images/homepage-career-cn.jpg">
                    </a>
                </div>
            </div>
        </section>
        <section class="tmall center">
            <div class="wrapper">
                <h2 class="wrapper-mobile">星巴克精选</h2>
                <p class="light wrapper-mobile">在星巴克天猫旗舰店发现更多咖啡心意</p>
                <ul class="grid columns-4 padded-2">
                    <li>
                        <a href="#" target="_blank" class="tablet-block mobile-hidden">
                            <img src="images/tmall-card-01.png">
                            <p class="title-1"><strong>会员星礼包</strong></p>
                            <p class="margin2">星享卡新升级<br>更多心意好礼</p>
                            <p class="caption">了解更多 ›</p>
                        </a>
                        <a href="#" target="_blank" class="show-mobile tablet-hidden">
                            <img src="images/tmall-card-01.png">
                            <p class="title-1"><strong>会员星礼包</strong></p>
                            <p class="margin2">星享卡新升级<br>更多心意好礼</p>
                            <p class="caption">了解更多 ›</p>
                        </a>
                    </li>
                    <li>
                        <a href="#" target="_blank">
                            <img src="images/tmall-card-02.png">
                            <p class="title-1"><strong>星礼卡</strong></p>
                            <p class="margin2">用一份心礼<br>让心意相随</p>
                            <p class="caption">了解更多 ›</p>
                        </a>
                    </li>
                    <li>
                        <a href="#" target="_blank">
                            <img src="images/tmall-eticket.png">
                            <p class="title-1"><strong>电子产品券</strong></p>
                            <p class="margin2">心意<br>从这一杯开始</p>
                            <p class="caption">了解更多 ›</p>
                        </a>
                    </li>
                    <li>
                        <a href="#" target="_blank">
                            <img src="images/tmall-reserve.png">
                            <p class="title-1"><strong>咖啡生活</strong></p>
                            <p class="margin2">星巴克<br>用心制作</p>
                            <p class="caption">了解更多 ›</p>
                        </a>
                    </li>
                </ul>
            </div>
        </section>
        <section class="coffeehouse">
            <div class="wrapper center">
                <h2 class="wrapper-mobile">1912 派克街 | 咖啡星讲堂</h2>
                <p class="light wrapper-mobile">了解更多星巴克咖啡文化</p>
            </div>
            <div class="scroll-wrapper">
                <!--<div class="scroll">-->
                    <div class="wrapper" style="text-align:center">
                        <div>
                            <a target="_blank" href="#" class="thumbnail rect card">
                                <div class="preview" style="background-image: url(images/starbucks-tmall-0102-cn.jpg)"></div>
                                <span class="tag">咖啡知识</span>
                                <strong>咖啡的起源与培植</strong> </a>
                            <a target="_blank" href="#" class="thumbnail rect card">
                                <div class="preview" style="background-image: url(./css/starbucks-tmall-0102-cn.jpg)"></div>
                                <span class="tag">咖啡品鉴</span>
                                <strong>咖啡调制</strong>
                            </a>
                            <a target="_blank" href="#" class="thumbnail rect card">
                                <div class="preview" style="background-image: url(images/starbucks-tmall-0102-cn.jpg)"></div>
                                <span class="tag">咖啡知识</span>
                                <strong>咖啡烘焙</strong>
                            </a>
                            <a target="_blank" href="#" class="thumbnail rect card">
                                <div class="preview" style="background-image: url(images/starbucks-tmall-0102-cn.jpg)"></div>
                                <span class="tag">咖啡品鉴</span>
                                <strong>手冲咖啡</strong>
                            </a>
                        </div>
                    </div>
                </div>
            <!--</div>-->
        </section>
    </section>
</div>
</body>
</html>